<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 2.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.5 2.5" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -0.949572422494349 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.949572422494349 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 1.899144844988698 0.40579610237426167" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.949572422494349 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 1.899144844988698 0.40579610237426167" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5 2.5" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 0.9864610944187979 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.9864610944187979 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11388743465970193 1.9729221888375958 0.9337225809740801" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.9864610944187979 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11388743465970193 1.9729221888375958 0.9337225809740801" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 0 2.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.9462632439421923 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.9462632439421923 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8925264878843846 0.4242799903227778 0.4526298755478226" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.9462632439421923 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8925264878843846 0.4242799903227778 0.4526298755478226" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 0 2.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLeg">
        <inertial>
            <origin xyz="1.3777529664906625 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.3777529664906625 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.755505932981325 0.4301490681277492 0.20012051416787557" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.3777529664906625 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.755505932981325 0.4301490681277492 0.20012051416787557" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLowerLeg" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 1.9729221888375958 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.37375238621263573" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.37375238621263573" rpy="0 0 0"/>
            <geometry>
                <box size="0.4498147371678005 0.42543972695718274 0.7475047724252715" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.37375238621263573" rpy="0 0 0"/>
            <geometry>
                <box size="0.4498147371678005 0.42543972695718274 0.7475047724252715" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackLowerLeg" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 -1.899144844988698 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.266780302769845" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.266780302769845" rpy="0 0 0"/>
            <geometry>
                <box size="0.35349467111980376 0.1 0.53356060553969" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.266780302769845" rpy="0 0 0"/>
            <geometry>
                <box size="0.35349467111980376 0.1 0.53356060553969" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLowerLeg" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftLowerLeg"/>
       <origin rpy="0 0 0" xyz="-1.8925264878843846 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.30405611499139906" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.30405611499139906" rpy="0 0 0"/>
            <geometry>
                <box size="0.47335312792348366 0.4201352994736328 0.6081122299827981" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.30405611499139906" rpy="0 0 0"/>
            <geometry>
                <box size="0.47335312792348366 0.4201352994736328 0.6081122299827981" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLowerLeg" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightLowerLeg"/>
       <origin rpy="0 0 0" xyz="2.755505932981325 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.3045195507710958" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.3045195507710958" rpy="0 0 0"/>
            <geometry>
                <box size="0.3863609792807775 0.1 0.6090391015421917" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.3045195507710958" rpy="0 0 0"/>
            <geometry>
                <box size="0.3863609792807775 0.1 0.6090391015421917" />
            </geometry>
        </collision>
    </link>
</robot>