<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 2.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.5 2.5" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -1.3159145221809194 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -1.3159145221809194 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4706850970247427 2.631829044361839 0.19309319100299058" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -1.3159145221809194 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4706850970247427 2.631829044361839 0.19309319100299058" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5 2.5" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 1.3159145221809194 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.3159145221809194 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4706850970247427 2.631829044361839 0.19309319100299058" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.3159145221809194 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4706850970247427 2.631829044361839 0.19309319100299058" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 0 2.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.8403287466718459 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.8403287466718459 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6806574933436917 0.5029700689501331 0.1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.8403287466718459 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6806574933436917 0.5029700689501331 0.1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 0 2.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.8403287466718459 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.8403287466718459 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6806574933436917 0.5029700689501331 0.1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.8403287466718459 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6806574933436917 0.5029700689501331 0.1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLowerLeg" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 2.631829044361839 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.6629005260715986" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6629005260715986" rpy="0 0 0"/>
            <geometry>
                <box size="0.18012687422090662 0.7262124417912004 1.325801052143197" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6629005260715986" rpy="0 0 0"/>
            <geometry>
                <box size="0.18012687422090662 0.7262124417912004 1.325801052143197" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackLowerLeg" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 -2.631829044361839 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.6629005260715986" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6629005260715986" rpy="0 0 0"/>
            <geometry>
                <box size="0.18012687422090662 0.7262124417912004 1.325801052143197" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6629005260715986" rpy="0 0 0"/>
            <geometry>
                <box size="0.18012687422090662 0.7262124417912004 1.325801052143197" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLowerLeg" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftLowerLeg"/>
       <origin rpy="0 0 0" xyz="-1.6806574933436917 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.9120401237401" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9120401237401" rpy="0 0 0"/>
            <geometry>
                <box size="0.5246995495445572 0.41104481352401034 1.8240802474802" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9120401237401" rpy="0 0 0"/>
            <geometry>
                <box size="0.5246995495445572 0.41104481352401034 1.8240802474802" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLowerLeg" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightLowerLeg"/>
       <origin rpy="0 0 0" xyz="1.6806574933436917 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.9120401237401" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9120401237401" rpy="0 0 0"/>
            <geometry>
                <box size="0.5246995495445572 0.41104481352401034 1.8240802474802" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9120401237401" rpy="0 0 0"/>
            <geometry>
                <box size="0.5246995495445572 0.41104481352401034 1.8240802474802" />
            </geometry>
        </collision>
    </link>
</robot>